Repository CleanroomMC/GroovyScript, pull requests merged in 2024-03, with the labels that each got.

#126 Aether Legacy Support
  dependencies.gradle
  examples/postInit/aether_legacy.groovy
  gradle.properties
  src/main/java/com/cleanroommc/groovyscript/compat/mods/ModSupport.java
  src/main/java/com/cleanroommc/groovyscript/compat/mods/aetherlegacy/Accessory.java
  src/main/java/com/cleanroommc/groovyscript/compat/mods/aetherlegacy/Aether.java
  src/main/java/com/cleanroommc/groovyscript/compat/mods/aetherlegacy/Enchanter.java
  src/main/java/com/cleanroommc/groovyscript/compat/mods/aetherlegacy/EnchanterFuel.java
  src/main/java/com/cleanroommc/groovyscript/compat/mods/aetherlegacy/Freezer.java
  src/main/java/com/cleanroommc/groovyscript/compat/mods/aetherlegacy/FreezerFuel.java
  src/main/resources/assets/groovyscript/lang/en_us.lang
Labels: mod compat

#131 add Better With Mods compat
  dependencies.gradle
  examples/postInit/betterwithmods.groovy
  gradle.properties
  src/main/java/com/cleanroommc/groovyscript/compat/mods/ModSupport.java
  src/main/java/com/cleanroommc/groovyscript/compat/mods/betterwithmods/AnvilCrafting.java
  src/main/java/com/cleanroommc/groovyscript/compat/mods/betterwithmods/AnvilRecipeBuilder.java
  src/main/java/com/cleanroommc/groovyscript/compat/mods/betterwithmods/AnvilShapedRecipe.java
  src/main/java/com/cleanroommc/groovyscript/compat/mods/betterwithmods/AnvilShapelessRecipe.java
  src/main/java/com/cleanroommc/groovyscript/compat/mods/betterwithmods/BetterWithMods.java
  src/main/java/com/cleanroommc/groovyscript/compat/mods/betterwithmods/Cauldron.java
  src/main/java/com/cleanroommc/groovyscript/compat/mods/betterwithmods/Crucible.java
  src/main/java/com/cleanroommc/groovyscript/compat/mods/betterwithmods/Heat.java
  src/main/java/com/cleanroommc/groovyscript/compat/mods/betterwithmods/Hopper.java
  src/main/java/com/cleanroommc/groovyscript/compat/mods/betterwithmods/HopperFilters.java
  src/main/java/com/cleanroommc/groovyscript/compat/mods/betterwithmods/Kiln.java
  src/main/java/com/cleanroommc/groovyscript/compat/mods/betterwithmods/MillStone.java
  src/main/java/com/cleanroommc/groovyscript/compat/mods/betterwithmods/Saw.java
  src/main/java/com/cleanroommc/groovyscript/compat/mods/betterwithmods/Turntable.java
  src/main/java/com/cleanroommc/groovyscript/core/LateMixin.java
  src/main/java/com/cleanroommc/groovyscript/core/mixin/betterwithmods/BWMHeatRegistryAccessor.java
  src/main/java/com/cleanroommc/groovyscript/core/mixin/betterwithmods/HopperFiltersAccessor.java
  src/main/resources/assets/groovyscript/lang/en_us.lang
  src/main/resources/mixin.groovyscript.betterwithmods.json
Labels: mod compat

#133 add Alchemistry compat
  dependencies.gradle
  examples/postInit/alchemistry.groovy
  gradle.properties
  src/main/java/com/cleanroommc/groovyscript/compat/mods/ModSupport.java
  src/main/java/com/cleanroommc/groovyscript/compat/mods/alchemistry/Alchemistry.java
  src/main/java/com/cleanroommc/groovyscript/compat/mods/alchemistry/Atomizer.java
  src/main/java/com/cleanroommc/groovyscript/compat/mods/alchemistry/Combiner.java
  src/main/java/com/cleanroommc/groovyscript/compat/mods/alchemistry/Dissolver.java
  src/main/java/com/cleanroommc/groovyscript/compat/mods/alchemistry/Electrolyzer.java
  src/main/java/com/cleanroommc/groovyscript/compat/mods/alchemistry/Evaporator.java
  src/main/java/com/cleanroommc/groovyscript/compat/mods/alchemistry/Liquifier.java
  src/main/resources/assets/groovyscript/lang/en_us.lang
Labels: mod compat

#137 Cache compiled scripts
  src/main/java/com/cleanroommc/groovyscript/GroovyScript.java
  src/main/java/com/cleanroommc/groovyscript/command/GSCommand.java
  src/main/java/com/cleanroommc/groovyscript/compat/content/GroovyBlock.java
  src/main/java/com/cleanroommc/groovyscript/compat/content/GroovyFluid.java
  src/main/java/com/cleanroommc/groovyscript/compat/content/GroovyItem.java
  src/main/java/com/cleanroommc/groovyscript/compat/content/GroovyResourcePack.java
  src/main/java/com/cleanroommc/groovyscript/compat/mods/ModSupport.java
  src/main/java/com/cleanroommc/groovyscript/core/mixin/groovy/ClassCollectorMixin.java
  src/main/java/com/cleanroommc/groovyscript/core/mixin/groovy/GroovyClassLoaderMixin.java
  src/main/java/com/cleanroommc/groovyscript/sandbox/CompiledClass.java
  src/main/java/com/cleanroommc/groovyscript/sandbox/CompiledScript.java
  src/main/java/com/cleanroommc/groovyscript/sandbox/FileUtil.java
  src/main/java/com/cleanroommc/groovyscript/sandbox/GroovySandbox.java
  src/main/java/com/cleanroommc/groovyscript/sandbox/GroovyScriptSandbox.java
  src/main/java/com/cleanroommc/groovyscript/sandbox/Preprocessor.java
  src/main/java/com/cleanroommc/groovyscript/sandbox/RunConfig.java
  src/main/java/com/cleanroommc/groovyscript/server/GroovyScriptCompilationUnitFactory.java
  src/main/java/com/cleanroommc/groovyscript/server/GroovyScriptLanguageServer.java
  src/main/resources/mixin.groovyscript.json
Labels: enhancement, sandbox

#129 add Extra Utilities 2 compat
  dependencies.gradle
  examples/postInit/extrautils2.groovy
  gradle.properties
  src/main/java/com/cleanroommc/groovyscript/compat/mods/ModSupport.java
  src/main/java/com/cleanroommc/groovyscript/compat/mods/extrautils2/Crusher.java
  src/main/java/com/cleanroommc/groovyscript/compat/mods/extrautils2/Enchanter.java
  src/main/java/com/cleanroommc/groovyscript/compat/mods/extrautils2/ExtraUtils2.java
  src/main/java/com/cleanroommc/groovyscript/compat/mods/extrautils2/Furnace.java
  src/main/java/com/cleanroommc/groovyscript/compat/mods/extrautils2/Generator.java
  src/main/java/com/cleanroommc/groovyscript/compat/mods/extrautils2/GridPowerPassiveGenerator.java
  src/main/java/com/cleanroommc/groovyscript/compat/mods/extrautils2/Resonator.java
  src/main/java/com/cleanroommc/groovyscript/core/LateMixin.java
  src/main/java/com/cleanroommc/groovyscript/core/mixin/extrautils2/GeneratorTypeAccessor.java
  src/main/java/com/cleanroommc/groovyscript/core/mixin/extrautils2/GeneratorTypeMixin.java
  src/main/java/com/cleanroommc/groovyscript/core/mixin/extrautils2/MachineInitAccessor.java
  src/main/java/com/cleanroommc/groovyscript/core/mixin/extrautils2/PassiveBlockGeneratorMillMixin.java
  src/main/resources/assets/groovyscript/lang/en_us.lang
  src/main/resources/mixin.groovyscript.extrautils2.json
Labels: mod compat

#142 Better JEI compat
  examples/postInit/jei.groovy
  src/main/java/com/cleanroommc/groovyscript/compat/mods/jei/Catalyst.java
  src/main/java/com/cleanroommc/groovyscript/compat/mods/jei/Category.java
  src/main/java/com/cleanroommc/groovyscript/compat/mods/jei/Description.java
  src/main/java/com/cleanroommc/groovyscript/compat/mods/jei/Ingredient.java
  src/main/java/com/cleanroommc/groovyscript/compat/mods/jei/JeiPlugin.java
  src/main/java/com/cleanroommc/groovyscript/compat/mods/jei/JustEnoughItems.java
  src/main/java/com/cleanroommc/groovyscript/core/mixin/jei/IngredientInfoRecipeAccessor.java
  src/main/java/com/cleanroommc/groovyscript/core/mixin/jei/ModRegistryAccessor.java
  src/main/java/com/cleanroommc/groovyscript/registry/ReloadableRegistryManager.java
  src/main/resources/assets/groovyscript/lang/en_us.lang
  src/main/resources/mixin.groovyscript.jei.json
Labels: mod compat

#135 Add Draconicevolution energy core block compat
  build.gradle
  examples/postInit/draconicevolution.groovy
  gradle.properties
  src/main/java/com/cleanroommc/groovyscript/GroovyScriptConfig.java
  src/main/java/com/cleanroommc/groovyscript/compat/mods/draconicevolution/DraconicEvolution.java
  src/main/java/com/cleanroommc/groovyscript/compat/mods/draconicevolution/EnergyCore.java
  src/main/java/com/cleanroommc/groovyscript/compat/mods/draconicevolution/helpers/BlockStateEnergyCoreStructure.java
  src/main/java/com/cleanroommc/groovyscript/compat/mods/draconicevolution/helpers/BlockStateMultiblockHelper.java
  src/main/java/com/cleanroommc/groovyscript/compat/mods/draconicevolution/helpers/BlockStateMultiblockStorage.java
  src/main/java/com/cleanroommc/groovyscript/compat/mods/draconicevolution/helpers/BlockStates.java
  src/main/java/com/cleanroommc/groovyscript/compat/mods/draconicevolution/helpers/InvisECoreBlockLogic.java
  src/main/java/com/cleanroommc/groovyscript/compat/mods/draconicevolution/helpers/TileEnergyCoreStabilizerLogic.java
  src/main/java/com/cleanroommc/groovyscript/compat/mods/draconicevolution/helpers/TileInvisECoreBlockLogic.java
  src/main/java/com/cleanroommc/groovyscript/compat/mods/draconicevolution/helpers/TileInvisECoreBlockState.java
  src/main/java/com/cleanroommc/groovyscript/core/mixin/draconicevolution/EnergyCoreStructureMixin.java
  src/main/java/com/cleanroommc/groovyscript/core/mixin/draconicevolution/InvisECoreBlockMixin.java
  src/main/java/com/cleanroommc/groovyscript/core/mixin/draconicevolution/TileEnergyCoreStabilizerMixin.java
  src/main/java/com/cleanroommc/groovyscript/core/mixin/draconicevolution/TileEnergyStorageCoreMixin.java
  src/main/java/com/cleanroommc/groovyscript/core/mixin/draconicevolution/TileInvisECoreBlockMixin.java
  src/main/java/com/cleanroommc/groovyscript/helper/ArrayUtils.java
  src/main/resources/assets/groovyscript/lang/en_us.lang
  src/main/resources/mixin.groovyscript.draconicevolution.json
Labels: mod compat

#141 Block file access outside instance dir
  src/main/java/com/cleanroommc/groovyscript/GroovyScript.java
  src/main/java/com/cleanroommc/groovyscript/helper/GroovyHelper.java
  src/main/java/com/cleanroommc/groovyscript/sandbox/GroovySandbox.java
  src/main/java/com/cleanroommc/groovyscript/sandbox/GroovyScriptSandbox.java
  src/main/java/com/cleanroommc/groovyscript/sandbox/security/SandboxSecurityManager.java
  src/main/java/com/cleanroommc/groovyscript/sandbox/transformer/GroovyScriptTransformer.java
Labels: enhancement, sandbox

#144 create NamedRegistry, move some logic to be INamed-based
  src/main/java/com/cleanroommc/groovyscript/api/INamed.java
  src/main/java/com/cleanroommc/groovyscript/api/IScriptReloadable.java
  src/main/java/com/cleanroommc/groovyscript/compat/content/Content.java
  src/main/java/com/cleanroommc/groovyscript/compat/inworldcrafting/InWorldCrafting.java
  src/main/java/com/cleanroommc/groovyscript/compat/loot/Loot.java
  src/main/java/com/cleanroommc/groovyscript/compat/mods/ModPropertyContainer.java
  src/main/java/com/cleanroommc/groovyscript/compat/mods/aetherlegacy/Accessory.java
  src/main/java/com/cleanroommc/groovyscript/compat/mods/aetherlegacy/Enchanter.java
  src/main/java/com/cleanroommc/groovyscript/compat/mods/aetherlegacy/EnchanterFuel.java
  src/main/java/com/cleanroommc/groovyscript/compat/mods/aetherlegacy/Freezer.java
  src/main/java/com/cleanroommc/groovyscript/compat/mods/aetherlegacy/FreezerFuel.java
  src/main/java/com/cleanroommc/groovyscript/compat/mods/pyrotech/Anvil.java
  src/main/java/com/cleanroommc/groovyscript/compat/mods/pyrotech/Barrel.java
  src/main/java/com/cleanroommc/groovyscript/compat/mods/pyrotech/Campfire.java
  src/main/java/com/cleanroommc/groovyscript/compat/mods/pyrotech/ChoppingBlock.java
  src/main/java/com/cleanroommc/groovyscript/compat/mods/pyrotech/CompactingBin.java
  src/main/java/com/cleanroommc/groovyscript/compat/mods/pyrotech/CompostBin.java
  src/main/java/com/cleanroommc/groovyscript/compat/mods/pyrotech/CrudeDryingRack.java
  src/main/java/com/cleanroommc/groovyscript/compat/mods/pyrotech/DryingRack.java
  src/main/java/com/cleanroommc/groovyscript/compat/mods/pyrotech/Kiln.java
  src/main/java/com/cleanroommc/groovyscript/compat/mods/pyrotech/SoakingPot.java
  src/main/java/com/cleanroommc/groovyscript/compat/mods/pyrotech/TanningRack.java
  src/main/java/com/cleanroommc/groovyscript/compat/mods/roots/Predicates.java
  src/main/java/com/cleanroommc/groovyscript/compat/mods/thaumcraft/arcane/ArcaneWorkbench.java
  src/main/java/com/cleanroommc/groovyscript/compat/mods/tinkersconstruct/Materials.java
  src/main/java/com/cleanroommc/groovyscript/compat/vanilla/Crafting.java
  src/main/java/com/cleanroommc/groovyscript/compat/vanilla/OreDict.java
  src/main/java/com/cleanroommc/groovyscript/compat/vanilla/Player.java
  src/main/java/com/cleanroommc/groovyscript/compat/vanilla/Rarity.java
  src/main/java/com/cleanroommc/groovyscript/compat/vanilla/VanillaModule.java
  src/main/java/com/cleanroommc/groovyscript/documentation/Exporter.java
  src/main/java/com/cleanroommc/groovyscript/documentation/Registry.java
  src/main/java/com/cleanroommc/groovyscript/registry/ForgeRegistryWrapper.java
  src/main/java/com/cleanroommc/groovyscript/registry/NamedRegistry.java
  src/main/java/com/cleanroommc/groovyscript/registry/ReloadableRegistryManager.java
  src/main/java/com/cleanroommc/groovyscript/registry/VirtualizedRegistry.java
Labels: enhancement

#145 add Arcane Archives compat
  dependencies.gradle
  examples/postInit/arcanearchives.groovy
  gradle.properties
  src/main/java/com/cleanroommc/groovyscript/compat/mods/ModSupport.java
  src/main/java/com/cleanroommc/groovyscript/compat/mods/arcanearchives/ArcaneArchives.java
  src/main/java/com/cleanroommc/groovyscript/compat/mods/arcanearchives/GemCuttingTable.java
  src/main/resources/assets/groovyscript/lang/en_us.lang
Labels: mod compat
