Repository CleanroomMC/GroovyScript, pull requests merged in 2024-07, with the labels that each got.

#163 add ProjectE compat
  dependencies.gradle
  examples/postInit/projecte.groovy
  gradle.properties
  src/main/java/com/cleanroommc/groovyscript/compat/mods/ModSupport.java
  src/main/java/com/cleanroommc/groovyscript/compat/mods/projecte/EntityRandomizer.java
  src/main/java/com/cleanroommc/groovyscript/compat/mods/projecte/ProjectE.java
  src/main/java/com/cleanroommc/groovyscript/compat/mods/projecte/Transmutation.java
  src/main/java/com/cleanroommc/groovyscript/core/LateMixin.java
  src/main/java/com/cleanroommc/groovyscript/core/mixin/projecte/WorldHelperAccessor.java
  src/main/resources/assets/groovyscript/lang/en_us.lang
  src/main/resources/mixin.groovyscript.projecte.json
Labels: mod compat

#173 Add ProdigyTech compatibility
  dependencies.gradle
  examples/assets/placeholdername/lang/en_us.lang
  examples/assets/placeholdername/models/item/prodigy_stick.json
  examples/assets/placeholdername/textures/items/prodigy_stick.png
  examples/postInit/prodigytech.groovy
  examples/preInit/prodigytech.groovy
  gradle.properties
  gradlew
  src/main/java/com/cleanroommc/groovyscript/compat/mods/ModSupport.java
  src/main/java/com/cleanroommc/groovyscript/compat/mods/prodigytech/AtomicReshaper.java
  src/main/java/com/cleanroommc/groovyscript/compat/mods/prodigytech/ExplosionFurnace.java
  src/main/java/com/cleanroommc/groovyscript/compat/mods/prodigytech/ExplosionFurnaceAdditives.java
  src/main/java/com/cleanroommc/groovyscript/compat/mods/prodigytech/PrimordialisReactor.java
  src/main/java/com/cleanroommc/groovyscript/compat/mods/prodigytech/ProdigyTech.java
  src/main/java/com/cleanroommc/groovyscript/compat/mods/prodigytech/SimpleRecipeHandler.java
  src/main/java/com/cleanroommc/groovyscript/compat/mods/prodigytech/SimpleRecipeHandlerAbstract.java
  src/main/java/com/cleanroommc/groovyscript/compat/mods/prodigytech/SimpleRecipeHandlerSecondaryOutput.java
  src/main/java/com/cleanroommc/groovyscript/compat/mods/prodigytech/Solderer.java
  src/main/java/com/cleanroommc/groovyscript/compat/mods/prodigytech/ZorraAltar.java
  src/main/resources/assets/groovyscript/lang/en_us.lang
Labels: mod compat

#176 Add EssentialCraft 4 compatibility
  dependencies.gradle
  examples/postInit/essentialcraft.groovy
  gradle.properties
  src/main/java/com/cleanroommc/groovyscript/compat/mods/ModSupport.java
  src/main/java/com/cleanroommc/groovyscript/compat/mods/essentialcraft/DemonTradeManager.java
  src/main/java/com/cleanroommc/groovyscript/compat/mods/essentialcraft/EssentialCraft.java
  src/main/java/com/cleanroommc/groovyscript/compat/mods/essentialcraft/MagicianTable.java
  src/main/java/com/cleanroommc/groovyscript/compat/mods/essentialcraft/MagmaticSmeltery.java
  src/main/java/com/cleanroommc/groovyscript/compat/mods/essentialcraft/MithrilineFurnace.java
  src/main/java/com/cleanroommc/groovyscript/compat/mods/essentialcraft/RadiatingChamber.java
  src/main/java/com/cleanroommc/groovyscript/compat/mods/essentialcraft/WindRune.java
  src/main/java/com/cleanroommc/groovyscript/core/LateMixin.java
  src/main/java/com/cleanroommc/groovyscript/core/mixin/essentialcraft/OreSmeltingRecipeMixin.java
  src/main/java/com/cleanroommc/groovyscript/core/mixin/essentialcraft/TileFurnaceMagicMixin.java
  src/main/java/com/cleanroommc/groovyscript/core/mixin/essentialcraft/TileMagmaticSmelterMixin.java
  src/main/resources/assets/groovyscript/lang/en_us.lang
  src/main/resources/mixin.groovyscript.essentialcraft.json
Labels: mod compat

#162 add PneumaticCraft: Repressurized compat
  dependencies.gradle
  examples/postInit/loottables.groovy
  examples/postInit/pneumaticcraft.groovy
  examples/postInit/vanilla.groovy
  gradle.properties
  src/main/java/com/cleanroommc/groovyscript/compat/mods/ModSupport.java
  src/main/java/com/cleanroommc/groovyscript/compat/mods/pneumaticcraft/Amadron.java
  src/main/java/com/cleanroommc/groovyscript/compat/mods/pneumaticcraft/AssemblyController.java
  src/main/java/com/cleanroommc/groovyscript/compat/mods/pneumaticcraft/Explosion.java
  src/main/java/com/cleanroommc/groovyscript/compat/mods/pneumaticcraft/HeatFrameCooling.java
  src/main/java/com/cleanroommc/groovyscript/compat/mods/pneumaticcraft/LiquidFuel.java
  src/main/java/com/cleanroommc/groovyscript/compat/mods/pneumaticcraft/PlasticMixer.java
  src/main/java/com/cleanroommc/groovyscript/compat/mods/pneumaticcraft/PneumaticCraft.java
  src/main/java/com/cleanroommc/groovyscript/compat/mods/pneumaticcraft/PressureChamber.java
  src/main/java/com/cleanroommc/groovyscript/compat/mods/pneumaticcraft/Refinery.java
  src/main/java/com/cleanroommc/groovyscript/compat/mods/pneumaticcraft/ThermopneumaticProcessingPlant.java
  src/main/java/com/cleanroommc/groovyscript/compat/mods/pneumaticcraft/XpFluid.java
  src/main/java/com/cleanroommc/groovyscript/core/LateMixin.java
  src/main/java/com/cleanroommc/groovyscript/core/mixin/pneumaticcraft/PlasticMixerRecipeAccessor.java
  src/main/java/com/cleanroommc/groovyscript/core/mixin/pneumaticcraft/PlasticMixerRegistryAccessor.java
  src/main/resources/assets/groovyscript/lang/en_us.lang
  src/main/resources/mixin.groovyscript.pneumaticcraft.json
Labels: mod compat

#171 add Immersive Petroleum compat
  dependencies.gradle
  examples/postInit/immersivepetroleum.groovy
  gradle.properties
  src/main/java/com/cleanroommc/groovyscript/compat/mods/ModSupport.java
  src/main/java/com/cleanroommc/groovyscript/compat/mods/immersivepetroleum/Distillation.java
  src/main/java/com/cleanroommc/groovyscript/compat/mods/immersivepetroleum/ImmersivePetroleum.java
  src/main/java/com/cleanroommc/groovyscript/compat/mods/immersivepetroleum/Reservoir.java
  src/main/resources/assets/groovyscript/lang/en_us.lang
Labels: mod compat

#204 Add mixin to OreIngredient to access its name
  src/main/java/com/cleanroommc/groovyscript/core/mixin/OreIngredientMixin.java
  src/main/resources/mixin.groovyscript.json
Labels: enhancement

#203 Fix "value already present" error on reloading
  src/main/java/com/cleanroommc/groovyscript/core/mixin/ForgeRegistryMixin.java
Labels: bug

#192 add Atum 2 compat
  dependencies.gradle
  examples/postInit/atum.groovy
  gradle.properties
  src/main/java/com/cleanroommc/groovyscript/compat/mods/ModSupport.java
  src/main/java/com/cleanroommc/groovyscript/compat/mods/atum/Atum.java
  src/main/java/com/cleanroommc/groovyscript/compat/mods/atum/Kiln.java
  src/main/java/com/cleanroommc/groovyscript/compat/mods/atum/Quern.java
  src/main/java/com/cleanroommc/groovyscript/compat/mods/atum/SpinningWheel.java
  src/main/resources/assets/groovyscript/lang/en_us.lang
Labels: mod compat

#193 add Mystical Agriculture compat
  dependencies.gradle
  examples/postInit/mysticalagriculture.groovy
  gradle.properties
  src/main/java/com/cleanroommc/groovyscript/compat/mods/ModSupport.java
  src/main/java/com/cleanroommc/groovyscript/compat/mods/mysticalagriculture/MysticalAgriculture.java
  src/main/java/com/cleanroommc/groovyscript/compat/mods/mysticalagriculture/Reprocessor.java
  src/main/resources/assets/groovyscript/lang/en_us.lang
Labels: mod compat

#194 add Cyclic compat
  dependencies.gradle
  examples/postInit/cyclicmagic.groovy
  gradle.properties
  src/main/java/com/cleanroommc/groovyscript/compat/mods/ModSupport.java
  src/main/java/com/cleanroommc/groovyscript/compat/mods/cyclic/Cyclic.java
  src/main/java/com/cleanroommc/groovyscript/compat/mods/cyclic/Dehydrator.java
  src/main/java/com/cleanroommc/groovyscript/compat/mods/cyclic/Hydrator.java
  src/main/java/com/cleanroommc/groovyscript/compat/mods/cyclic/Melter.java
  src/main/java/com/cleanroommc/groovyscript/compat/mods/cyclic/Packager.java
  src/main/java/com/cleanroommc/groovyscript/compat/mods/cyclic/Solidifier.java
  src/main/resources/assets/groovyscript/lang/en_us.lang
Labels: mod compat

#197 add Primal Tech compat
  dependencies.gradle
  examples/postInit/primal_tech.groovy
  gradle.properties
  src/main/java/com/cleanroommc/groovyscript/compat/mods/ModSupport.java
  src/main/java/com/cleanroommc/groovyscript/compat/mods/primaltech/ClayKiln.java
  src/main/java/com/cleanroommc/groovyscript/compat/mods/primaltech/PrimalTech.java
  src/main/java/com/cleanroommc/groovyscript/compat/mods/primaltech/StoneAnvil.java
  src/main/java/com/cleanroommc/groovyscript/compat/mods/primaltech/WaterSaw.java
  src/main/java/com/cleanroommc/groovyscript/compat/mods/primaltech/WoodenBasin.java
  src/main/java/com/cleanroommc/groovyscript/core/LateMixin.java
  src/main/java/com/cleanroommc/groovyscript/core/mixin/primal_tech/ClayKilnRecipesAccessor.java
  src/main/java/com/cleanroommc/groovyscript/core/mixin/primal_tech/StoneAnvilRecipesAccessor.java
  src/main/java/com/cleanroommc/groovyscript/core/mixin/primal_tech/WaterSawRecipesAccessor.java
  src/main/java/com/cleanroommc/groovyscript/core/mixin/primal_tech/WoodenBasinRecipesAccessor.java
  src/main/resources/assets/groovyscript/lang/en_us.lang
  src/main/resources/mixin.groovyscript.primal_tech.json
Labels: mod compat

#198 add Extra Botany compat
  dependencies.gradle
  examples/postInit/extrabotany.groovy
  gradle.properties
  src/main/java/com/cleanroommc/groovyscript/compat/mods/ModSupport.java
  src/main/java/com/cleanroommc/groovyscript/compat/mods/extrabotany/ExtraBotany.java
  src/main/java/com/cleanroommc/groovyscript/compat/mods/extrabotany/Pedestal.java
  src/main/resources/assets/groovyscript/lang/en_us.lang
Labels: mod compat

#200 add Botanic Additions compat
  dependencies.gradle
  examples/postInit/botanicadds.groovy
  gradle.properties
  src/main/java/com/cleanroommc/groovyscript/compat/mods/ModSupport.java
  src/main/java/com/cleanroommc/groovyscript/compat/mods/botanicadditions/BotanicAdditions.java
  src/main/java/com/cleanroommc/groovyscript/compat/mods/botanicadditions/GaiaPlate.java
  src/main/resources/assets/groovyscript/lang/en_us.lang
Labels: mod compat

#186 Improve hand command functionality
  src/main/java/com/cleanroommc/groovyscript/GroovyScript.java
  src/main/java/com/cleanroommc/groovyscript/api/infocommand/InfoParser.java
  src/main/java/com/cleanroommc/groovyscript/api/infocommand/InfoParserPackage.java
  src/main/java/com/cleanroommc/groovyscript/api/infocommand/InfoParserRegistry.java
  src/main/java/com/cleanroommc/groovyscript/command/BaseInfoCommand.java
  src/main/java/com/cleanroommc/groovyscript/command/GSCommand.java
  src/main/java/com/cleanroommc/groovyscript/command/GSHandCommand.java
  src/main/java/com/cleanroommc/groovyscript/command/InfoHandCommand.java
  src/main/java/com/cleanroommc/groovyscript/command/InfoInfoCommand.java
  src/main/java/com/cleanroommc/groovyscript/command/InfoLookingCommand.java
  src/main/java/com/cleanroommc/groovyscript/command/InfoSelfCommand.java
  src/main/java/com/cleanroommc/groovyscript/compat/mods/alchemistry/Alchemistry.java
  src/main/java/com/cleanroommc/groovyscript/compat/mods/alchemistry/InfoParserCompound.java
  src/main/java/com/cleanroommc/groovyscript/compat/mods/alchemistry/InfoParserElement.java
  src/main/java/com/cleanroommc/groovyscript/compat/mods/appliedenergistics2/AppliedEnergistics2.java
  src/main/java/com/cleanroommc/groovyscript/compat/mods/appliedenergistics2/InfoParserTunnel.java
  src/main/java/com/cleanroommc/groovyscript/compat/mods/astralsorcery/AstralSorcery.java
  src/main/java/com/cleanroommc/groovyscript/compat/mods/astralsorcery/InfoParserConstellation.java
  src/main/java/com/cleanroommc/groovyscript/compat/mods/botania/Botania.java
  src/main/java/com/cleanroommc/groovyscript/compat/mods/botania/InfoParserBrew.java
  src/main/java/com/cleanroommc/groovyscript/compat/mods/chisel/Carving.java
  src/main/java/com/cleanroommc/groovyscript/compat/mods/evilcraft/EvilCraft.java
  src/main/java/com/cleanroommc/groovyscript/compat/mods/evilcraft/InfoParserWeather.java
  src/main/java/com/cleanroommc/groovyscript/compat/mods/jei/InfoParserTab.java
  src/main/java/com/cleanroommc/groovyscript/compat/mods/jei/JustEnoughItems.java
  src/main/java/com/cleanroommc/groovyscript/compat/mods/mekanism/InfoParserGas.java
  src/main/java/com/cleanroommc/groovyscript/compat/mods/mekanism/InfoParserInfusion.java
  src/main/java/com/cleanroommc/groovyscript/compat/mods/mekanism/Mekanism.java
  src/main/java/com/cleanroommc/groovyscript/compat/mods/roots/InfoParserHerb.java
  src/main/java/com/cleanroommc/groovyscript/compat/mods/roots/InfoParserModifier.java
  src/main/java/com/cleanroommc/groovyscript/compat/mods/roots/InfoParserSpell.java
  src/main/java/com/cleanroommc/groovyscript/compat/mods/roots/Roots.java
  src/main/java/com/cleanroommc/groovyscript/compat/mods/thaumcraft/InfoParserAspect.java
  src/main/java/com/cleanroommc/groovyscript/compat/mods/thaumcraft/Thaumcraft.java
  src/main/java/com/cleanroommc/groovyscript/compat/vanilla/command/infoparser/GenericInfoParser.java
  src/main/java/com/cleanroommc/groovyscript/compat/vanilla/command/infoparser/InfoParserBiome.java
  src/main/java/com/cleanroommc/groovyscript/compat/vanilla/command/infoparser/InfoParserBlock.java
  src/main/java/com/cleanroommc/groovyscript/compat/vanilla/command/infoparser/InfoParserBlockState.java
  src/main/java/com/cleanroommc/groovyscript/compat/vanilla/command/infoparser/InfoParserCreativeTab.java
  src/main/java/com/cleanroommc/groovyscript/compat/vanilla/command/infoparser/InfoParserDimension.java
  src/main/java/com/cleanroommc/groovyscript/compat/vanilla/command/infoparser/InfoParserEnchantment.java
  src/main/java/com/cleanroommc/groovyscript/compat/vanilla/command/infoparser/InfoParserEntity.java
  src/main/java/com/cleanroommc/groovyscript/compat/vanilla/command/infoparser/InfoParserFluid.java
  src/main/java/com/cleanroommc/groovyscript/compat/vanilla/command/infoparser/InfoParserItem.java
  src/main/java/com/cleanroommc/groovyscript/compat/vanilla/command/infoparser/InfoParserNBT.java
  src/main/java/com/cleanroommc/groovyscript/compat/vanilla/command/infoparser/InfoParserOreDict.java
  src/main/java/com/cleanroommc/groovyscript/compat/vanilla/command/infoparser/InfoParserPotionEffect.java
  src/main/java/com/cleanroommc/groovyscript/compat/vanilla/command/infoparser/InfoParserTranslationKey.java
  src/main/java/com/cleanroommc/groovyscript/compat/vanilla/command/infoparser/InfoParserVillagerCareer.java
  src/main/java/com/cleanroommc/groovyscript/compat/vanilla/command/infoparser/InfoParserVillagerProfession.java
  src/main/java/com/cleanroommc/groovyscript/compat/vanilla/command/infoparser/StandardInfoParserRegistry.java
  src/main/java/com/cleanroommc/groovyscript/core/mixin/VillagerProfessionAccessor.java
  src/main/java/com/cleanroommc/groovyscript/core/mixin/extendedcrafting/ItemRecipeMakerMixin.java
  src/main/java/com/cleanroommc/groovyscript/event/GsHandEvent.java
  src/main/java/com/cleanroommc/groovyscript/helper/ingredient/GroovyScriptCodeConverter.java
  src/main/java/com/cleanroommc/groovyscript/helper/ingredient/IngredientHelper.java
  src/main/java/com/cleanroommc/groovyscript/mapper/ObjectMapperManager.java
  src/main/java/com/cleanroommc/groovyscript/mapper/ObjectMappers.java
  src/main/resources/assets/groovyscript/lang/en_us.lang
  src/main/resources/mixin.groovyscript.json
Labels: enhancement, refactor

#202 Create recipes using a RecipeBuilder in more situations
  src/main/java/com/cleanroommc/groovyscript/compat/mods/actuallyadditions/AtomicReconstructor.java
  src/main/java/com/cleanroommc/groovyscript/compat/mods/alchemistry/Atomizer.java
  src/main/java/com/cleanroommc/groovyscript/compat/mods/alchemistry/Evaporator.java
  src/main/java/com/cleanroommc/groovyscript/compat/mods/alchemistry/Liquifier.java
  src/main/java/com/cleanroommc/groovyscript/compat/mods/bloodmagic/AlchemyArray.java
  src/main/java/com/cleanroommc/groovyscript/compat/mods/bloodmagic/BloodAltar.java
  src/main/java/com/cleanroommc/groovyscript/compat/mods/bloodmagic/TartaricForge.java
  src/main/java/com/cleanroommc/groovyscript/compat/mods/botania/Apothecary.java
  src/main/java/com/cleanroommc/groovyscript/compat/mods/botania/ElvenTrade.java
  src/main/java/com/cleanroommc/groovyscript/compat/mods/botania/Lexicon.java
  src/main/java/com/cleanroommc/groovyscript/compat/mods/botania/ManaInfusion.java
  src/main/java/com/cleanroommc/groovyscript/compat/mods/botania/PureDaisy.java
  src/main/java/com/cleanroommc/groovyscript/compat/mods/botania/RuneAltar.java
  src/main/java/com/cleanroommc/groovyscript/compat/mods/forestry/Moistener.java
  src/main/java/com/cleanroommc/groovyscript/compat/mods/forestry/Squeezer.java
  src/main/java/com/cleanroommc/groovyscript/compat/mods/forestry/Still.java
  src/main/java/com/cleanroommc/groovyscript/compat/mods/mekanism/ChemicalInfuser.java
  src/main/java/com/cleanroommc/groovyscript/compat/mods/mekanism/ChemicalOxidizer.java
  src/main/java/com/cleanroommc/groovyscript/compat/mods/mekanism/Combiner.java
  src/main/java/com/cleanroommc/groovyscript/compat/mods/mekanism/Crusher.java
  src/main/java/com/cleanroommc/groovyscript/compat/mods/mekanism/Crystallizer.java
  src/main/java/com/cleanroommc/groovyscript/compat/mods/mekanism/DissolutionChamber.java
  src/main/java/com/cleanroommc/groovyscript/compat/mods/mekanism/ElectrolyticSeparator.java
  src/main/java/com/cleanroommc/groovyscript/compat/mods/mekanism/EnrichmentChamber.java
  src/main/java/com/cleanroommc/groovyscript/compat/mods/mekanism/InjectionChamber.java
  src/main/java/com/cleanroommc/groovyscript/compat/mods/mekanism/MetallurgicInfuser.java
  src/main/java/com/cleanroommc/groovyscript/compat/mods/mekanism/OsmiumCompressor.java
  src/main/java/com/cleanroommc/groovyscript/compat/mods/mekanism/PressurizedReactionChamber.java
  src/main/java/com/cleanroommc/groovyscript/compat/mods/mekanism/PurificationChamber.java
  src/main/java/com/cleanroommc/groovyscript/compat/mods/mekanism/Sawmill.java
  src/main/java/com/cleanroommc/groovyscript/compat/mods/mekanism/Smelting.java
  src/main/java/com/cleanroommc/groovyscript/compat/mods/mekanism/SolarNeutronActivator.java
  src/main/java/com/cleanroommc/groovyscript/compat/mods/mekanism/ThermalEvaporationPlant.java
  src/main/java/com/cleanroommc/groovyscript/compat/mods/mekanism/Washer.java
  src/main/java/com/cleanroommc/groovyscript/compat/mods/thaumcraft/Crucible.java
  src/main/java/com/cleanroommc/groovyscript/compat/mods/thaumcraft/InfusionCrafting.java
Labels: enhancement, mod compat

#201 Add JEI Categories and related improvements
  examples/classes/GenericRecipeCategory.groovy
  examples/classes/GenericRecipeReloading.groovy
  examples/classes/SimpleConversionRecipe.groovy
  examples/postInit/custom/forestry.groovy
  examples/postInit/custom/hard_mode.groovy
  examples/postInit/custom/in_world_crafting.groovy
  examples/postInit/custom/loottables.groovy
  examples/postInit/custom/normal_mode.gvy
  examples/postInit/custom/reloading_compat.groovy
  examples/postInit/custom/vanilla.groovy
  examples/postInit/jei.groovy
  src/main/java/com/cleanroommc/groovyscript/compat/inworldcrafting/jei/InWorldCraftingJeiPlugin.java
  src/main/java/com/cleanroommc/groovyscript/compat/mods/jei/Catalyst.java
  src/main/java/com/cleanroommc/groovyscript/compat/mods/jei/Category.java
  src/main/java/com/cleanroommc/groovyscript/compat/mods/jei/Description.java
  src/main/java/com/cleanroommc/groovyscript/compat/mods/jei/Ingredient.java
  src/main/java/com/cleanroommc/groovyscript/compat/mods/jei/JeiPlugin.java
  src/main/java/com/cleanroommc/groovyscript/core/mixin/jei/JeiStarterMixin.java
  src/main/java/com/cleanroommc/groovyscript/documentation/Builder.java
  src/main/resources/assets/groovyscript/lang/en_us.lang
  src/main/resources/mixin.groovyscript.jei.json
Labels: enhancement

#208 fix multiple punctuation marks
  examples/postInit/aether_legacy.groovy
  examples/postInit/atum.groovy
  examples/postInit/botania.groovy
  examples/postInit/botanicadds.groovy
  examples/postInit/cyclicmagic.groovy
  examples/postInit/extrabotany.groovy
  examples/postInit/mekanism.groovy
  examples/postInit/mysticalagriculture.groovy
  examples/postInit/primal_tech.groovy
  examples/postInit/projecte.groovy
  examples/postInit/roots.groovy
  examples/postInit/theaurorian.groovy
  src/main/java/com/cleanroommc/groovyscript/documentation/Documentation.java
  src/main/resources/assets/groovyscript/lang/en_us.lang
Labels: documentation
