Repository CleanroomMC/GroovyScript, pull requests merged in 2024-10, with the labels that each got.

#219 Add PyroTech Oven and Kiln compat
  examples/postInit/custom/vanilla.groovy
  examples/postInit/pyrotech.groovy
  src/main/java/com/cleanroommc/groovyscript/compat/mods/pyrotech/Anvil.java
  src/main/java/com/cleanroommc/groovyscript/compat/mods/pyrotech/BrickKiln.java
  src/main/java/com/cleanroommc/groovyscript/compat/mods/pyrotech/BrickOven.java
  src/main/java/com/cleanroommc/groovyscript/compat/mods/pyrotech/PitKiln.java
  src/main/java/com/cleanroommc/groovyscript/compat/mods/pyrotech/PyroTech.java
  src/main/java/com/cleanroommc/groovyscript/compat/mods/pyrotech/StoneKiln.java
  src/main/java/com/cleanroommc/groovyscript/compat/mods/pyrotech/StoneOven.java
  src/main/resources/assets/groovyscript/lang/en_us.lang
Labels: mod compat

#231 fix singleton aspect, change texture, make example
  examples/postInit/thaumcraft.groovy
  src/main/java/com/cleanroommc/groovyscript/compat/mods/thaumcraft/aspect/Aspect.java
Labels: bug, mod compat

#238 Inline icons for Object mappers in vsc
  editors/vscode/package-lock.json
  editors/vscode/package.json
  editors/vscode/src/features/TextureDecoration.ts
  editors/vscode/src/languageProviders/TextureDecorationLanguageProvider.ts
  editors/vscode/src/main.ts
  src/main/java/com/cleanroommc/groovyscript/GroovyScript.java
  src/main/java/com/cleanroommc/groovyscript/gameobjects/GameObjectHandlerManager.java
  src/main/java/com/cleanroommc/groovyscript/mapper/ObjectMapper.java
  src/main/java/com/cleanroommc/groovyscript/mapper/ObjectMapperManager.java
  src/main/java/com/cleanroommc/groovyscript/mapper/TextureBinder.java
  src/main/java/com/cleanroommc/groovyscript/server/GroovyScriptCapabilities.java
  src/main/java/com/cleanroommc/groovyscript/server/GroovyScriptFeaturesService.java
  src/main/java/com/cleanroommc/groovyscript/server/GroovyScriptLanguageServer.java
  src/main/java/com/cleanroommc/groovyscript/server/GroovyScriptLanguageServerImpl.java
  src/main/java/com/cleanroommc/groovyscript/server/GroovyScriptServices.java
  src/main/java/com/cleanroommc/groovyscript/server/features/textureDecoration/TextureDecorationInformation.java
  src/main/java/com/cleanroommc/groovyscript/server/features/textureDecoration/TextureDecorationParams.java
  src/main/java/com/cleanroommc/groovyscript/server/features/textureDecoration/TextureDecorationProvider.java
  src/main/java/net/prominic/groovyls/GroovyLanguageServer.java
  src/main/java/net/prominic/groovyls/GroovyServices.java
  src/main/java/net/prominic/groovyls/compiler/util/GroovyASTUtils.java
  src/main/java/net/prominic/groovyls/providers/CompletionProvider.java
  src/main/java/net/prominic/groovyls/providers/DocProvider.java
  src/main/java/net/prominic/groovyls/util/GroovyLSUtils.java
Labels: enhancement, lang-server

#242 cant download, wont use
  dependencies.gradle
  gradle.properties
Labels: build-script

#241 fix odd validate calls
  src/main/java/com/cleanroommc/groovyscript/compat/mods/botania/Apothecary.java
  src/main/java/com/cleanroommc/groovyscript/compat/mods/botania/Brew.java
  src/main/java/com/cleanroommc/groovyscript/compat/mods/botania/ElvenTrade.java
  src/main/java/com/cleanroommc/groovyscript/compat/mods/botania/Lexicon.java
  src/main/java/com/cleanroommc/groovyscript/compat/mods/botania/ManaInfusion.java
  src/main/java/com/cleanroommc/groovyscript/compat/mods/botania/PureDaisy.java
  src/main/java/com/cleanroommc/groovyscript/compat/mods/botania/RuneAltar.java
  src/main/java/com/cleanroommc/groovyscript/compat/mods/forestry/Centrifuge.java
  src/main/java/com/cleanroommc/groovyscript/compat/mods/forestry/Moistener.java
  src/main/java/com/cleanroommc/groovyscript/compat/mods/forestry/Still.java
  src/main/java/com/cleanroommc/groovyscript/compat/mods/mekanism/recipe/GasRecipeBuilder.java
Labels: refactor

#243 Fix AA Oil Gen fluidInput method doing other things
  examples/postInit/actuallyadditions.groovy
  src/main/java/com/cleanroommc/groovyscript/compat/mods/actuallyadditions/OilGen.java
Labels: mod compat

#244 fix infusion type info handler being incorrect
  src/main/java/com/cleanroommc/groovyscript/compat/mods/mekanism/Mekanism.java
Labels: bug, mod compat

#249 More defaultValues for Object Mappers
  src/main/java/com/cleanroommc/groovyscript/compat/mods/appliedenergistics2/AppliedEnergistics2.java
  src/main/java/com/cleanroommc/groovyscript/compat/mods/thermalexpansion/ThermalExpansion.java
  src/main/java/com/cleanroommc/groovyscript/mapper/ObjectMapperManager.java
Labels: enhancement

#248 add Botania Tweaks compat
  dependencies.gradle
  examples/postInit/botania_tweaks.groovy
  gradle.properties
  src/main/java/com/cleanroommc/groovyscript/compat/mods/ModSupport.java
  src/main/java/com/cleanroommc/groovyscript/compat/mods/botaniatweaks/AgglomerationPlate.java
  src/main/java/com/cleanroommc/groovyscript/compat/mods/botaniatweaks/BotaniaTweaks.java
  src/main/resources/assets/groovyscript/lang/en_us.lang
Labels: mod compat

#252 Astral Sorcery Starmetal Conversion
  examples/postInit/astralsorcery.groovy
  src/main/java/com/cleanroommc/groovyscript/compat/mods/astralsorcery/LightTransmutation.java
  src/main/java/com/cleanroommc/groovyscript/core/mixin/astralsorcery/TileCelestialCrystalsMixin.java
  src/main/resources/assets/groovyscript/lang/en_us.lang
  src/main/resources/mixin.groovyscript.astralsorcery.json
Labels: mod compat

#239 Config for method removal via asm
  examples/classes/GenericRecipeCategory.groovy
  examples/sideOnly.json
  src/main/java/com/cleanroommc/groovyscript/GroovyScript.java
  src/main/java/com/cleanroommc/groovyscript/core/GroovyScriptCore.java
  src/main/java/com/cleanroommc/groovyscript/core/GroovyScriptTransformer.java
  src/main/java/com/cleanroommc/groovyscript/core/SideOnlyConfig.java
  src/main/java/com/cleanroommc/groovyscript/sandbox/FileUtil.java
  src/main/java/com/cleanroommc/groovyscript/sandbox/GroovyScriptSandbox.java
  src/main/java/com/cleanroommc/groovyscript/sandbox/RunConfig.java
  src/main/java/com/cleanroommc/groovyscript/sandbox/SandboxData.java
  src/main/java/com/cleanroommc/groovyscript/sandbox/security/GroovySecurityManager.java
  src/main/java/com/cleanroommc/groovyscript/server/GroovyScriptLanguageServerContext.java
  src/main/java/com/cleanroommc/groovyscript/server/features/textureDecoration/TextureDecorationProvider.java
Labels: enhancement

#254 add Future MC compat
  dependencies.gradle
  examples/postInit/futuremc.groovy
  gradle.properties
  src/main/java/com/cleanroommc/groovyscript/compat/mods/ModSupport.java
  src/main/java/com/cleanroommc/groovyscript/compat/mods/futuremc/BlastFurnace.java
  src/main/java/com/cleanroommc/groovyscript/compat/mods/futuremc/Campfire.java
  src/main/java/com/cleanroommc/groovyscript/compat/mods/futuremc/FutureMC.java
  src/main/java/com/cleanroommc/groovyscript/compat/mods/futuremc/Smithing.java
  src/main/java/com/cleanroommc/groovyscript/compat/mods/futuremc/Smoker.java
  src/main/java/com/cleanroommc/groovyscript/compat/mods/futuremc/Stonecutter.java
  src/main/resources/assets/groovyscript/lang/en_us.lang
Labels: mod compat

#255 add Magneticraft compat
  dependencies.gradle
  examples/postInit/magneticraft.groovy
  gradle.properties
  src/main/java/com/cleanroommc/groovyscript/compat/mods/ModSupport.java
  src/main/java/com/cleanroommc/groovyscript/compat/mods/magneticraft/CrushingTable.java
  src/main/java/com/cleanroommc/groovyscript/compat/mods/magneticraft/GasificationUnit.java
  src/main/java/com/cleanroommc/groovyscript/compat/mods/magneticraft/Grinder.java
  src/main/java/com/cleanroommc/groovyscript/compat/mods/magneticraft/HydraulicPress.java
  src/main/java/com/cleanroommc/groovyscript/compat/mods/magneticraft/Magneticraft.java
  src/main/java/com/cleanroommc/groovyscript/compat/mods/magneticraft/OilHeater.java
  src/main/java/com/cleanroommc/groovyscript/compat/mods/magneticraft/Refinery.java
  src/main/java/com/cleanroommc/groovyscript/compat/mods/magneticraft/Sieve.java
  src/main/java/com/cleanroommc/groovyscript/compat/mods/magneticraft/SluiceBox.java
  src/main/java/com/cleanroommc/groovyscript/compat/mods/magneticraft/Thermopile.java
  src/main/java/com/cleanroommc/groovyscript/core/LateMixin.java
  src/main/java/com/cleanroommc/groovyscript/core/mixin/magneticraft/CrushingTableRecipeManagerAccessor.java
  src/main/java/com/cleanroommc/groovyscript/core/mixin/magneticraft/GasificationUnitRecipeManagerAccessor.java
  src/main/java/com/cleanroommc/groovyscript/core/mixin/magneticraft/HydraulicPressRecipeManagerAccessor.java
  src/main/java/com/cleanroommc/groovyscript/core/mixin/magneticraft/ThermopileRecipeManagerAccessor.java
  src/main/resources/assets/groovyscript/lang/en_us.lang
  src/main/resources/mixin.groovyscript.magneticraft.json
Labels: mod compat
