Repository CleanroomMC/GroovyScript, pull requests merged in 2024-08, with the labels that each got.

#214 Remove possibly incorrect JEI Category import
  examples/postInit/jei.groovy
  src/main/java/com/cleanroommc/groovyscript/compat/mods/jei/Category.java
  src/main/resources/assets/groovyscript/lang/en_us.lang
Labels: bug, documentation

#217 Fix documentation listing some addition methods as removal
  src/main/java/com/cleanroommc/groovyscript/compat/mods/mekanism/MetallurgicInfuser.java
  src/main/java/com/cleanroommc/groovyscript/compat/mods/mekanism/PressurizedReactionChamber.java
  src/main/java/com/cleanroommc/groovyscript/compat/mods/mekanism/Sawmill.java
Labels: documentation

#199 add Immersive Technology compat
  dependencies.gradle
  examples/postInit/immersivetech.groovy
  gradle.properties
  src/main/java/com/cleanroommc/groovyscript/compat/mods/ModSupport.java
  src/main/java/com/cleanroommc/groovyscript/compat/mods/immersivetechnology/Boiler.java
  src/main/java/com/cleanroommc/groovyscript/compat/mods/immersivetechnology/BoilerFuel.java
  src/main/java/com/cleanroommc/groovyscript/compat/mods/immersivetechnology/CoolingTower.java
  src/main/java/com/cleanroommc/groovyscript/compat/mods/immersivetechnology/Distiller.java
  src/main/java/com/cleanroommc/groovyscript/compat/mods/immersivetechnology/ElectrolyticCrucibleBattery.java
  src/main/java/com/cleanroommc/groovyscript/compat/mods/immersivetechnology/GasTurbine.java
  src/main/java/com/cleanroommc/groovyscript/compat/mods/immersivetechnology/HeatExchanger.java
  src/main/java/com/cleanroommc/groovyscript/compat/mods/immersivetechnology/HighPressureSteamTurbine.java
  src/main/java/com/cleanroommc/groovyscript/compat/mods/immersivetechnology/ImmersiveTechnology.java
  src/main/java/com/cleanroommc/groovyscript/compat/mods/immersivetechnology/MeltingCrucible.java
  src/main/java/com/cleanroommc/groovyscript/compat/mods/immersivetechnology/Radiator.java
  src/main/java/com/cleanroommc/groovyscript/compat/mods/immersivetechnology/SolarTower.java
  src/main/java/com/cleanroommc/groovyscript/compat/mods/immersivetechnology/SteamTurbine.java
  src/main/resources/assets/groovyscript/lang/en_us.lang
Labels: mod compat

#189 Add (partial?) Advanced Rocketry compatibility
  dependencies.gradle
  examples/postInit/advancedrocketry.groovy
  gradle.properties
  src/main/java/com/cleanroommc/groovyscript/api/documentation/annotations/Property.java
  src/main/java/com/cleanroommc/groovyscript/compat/mods/ModSupport.java
  src/main/java/com/cleanroommc/groovyscript/compat/mods/advancedrocketry/AdvancedRocketry.java
  src/main/java/com/cleanroommc/groovyscript/compat/mods/advancedrocketry/BaseRegistry.java
  src/main/java/com/cleanroommc/groovyscript/compat/mods/advancedrocketry/Centrifuge.java
  src/main/java/com/cleanroommc/groovyscript/compat/mods/advancedrocketry/ChemicalReactor.java
  src/main/java/com/cleanroommc/groovyscript/compat/mods/advancedrocketry/Crystallizer.java
  src/main/java/com/cleanroommc/groovyscript/compat/mods/advancedrocketry/CuttingMachine.java
  src/main/java/com/cleanroommc/groovyscript/compat/mods/advancedrocketry/ElectricArcFurnace.java
  src/main/java/com/cleanroommc/groovyscript/compat/mods/advancedrocketry/Electrolyser.java
  src/main/java/com/cleanroommc/groovyscript/compat/mods/advancedrocketry/Lathe.java
  src/main/java/com/cleanroommc/groovyscript/compat/mods/advancedrocketry/PrecisionAssembler.java
  src/main/java/com/cleanroommc/groovyscript/compat/mods/advancedrocketry/PrecisionLaserEtcher.java
  src/main/java/com/cleanroommc/groovyscript/compat/mods/advancedrocketry/RollingMachine.java
  src/main/java/com/cleanroommc/groovyscript/compat/mods/advancedrocketry/SmallPlatePresser.java
  src/main/java/com/cleanroommc/groovyscript/compat/mods/extrautils2/Generator.java
  src/main/java/com/cleanroommc/groovyscript/compat/mods/inspirations/Cauldron.java
  src/main/java/com/cleanroommc/groovyscript/compat/mods/prodigytech/ExplosionFurnace.java
  src/main/java/com/cleanroommc/groovyscript/compat/mods/prodigytech/ExplosionFurnaceAdditives.java
  src/main/java/com/cleanroommc/groovyscript/compat/mods/prodigytech/PrimordialisReactor.java
  src/main/java/com/cleanroommc/groovyscript/documentation/Builder.java
  src/main/resources/assets/groovyscript/lang/en_us.lang
Labels: mod compat

#177 add Tech Reborn compat
  dependencies.gradle
  examples/postInit/techreborn.groovy
  gradle.properties
  repositories.gradle
  src/main/java/com/cleanroommc/groovyscript/compat/mods/ModSupport.java
  src/main/java/com/cleanroommc/groovyscript/compat/mods/techreborn/AbstractGeneratorRegistry.java
  src/main/java/com/cleanroommc/groovyscript/compat/mods/techreborn/AbstractGenericTechRebornRegistry.java
  src/main/java/com/cleanroommc/groovyscript/compat/mods/techreborn/AbstractPraescriptumRegistry.java
  src/main/java/com/cleanroommc/groovyscript/compat/mods/techreborn/AlloySmelter.java
  src/main/java/com/cleanroommc/groovyscript/compat/mods/techreborn/AssemblingMachine.java
  src/main/java/com/cleanroommc/groovyscript/compat/mods/techreborn/BlastFurnace.java
  src/main/java/com/cleanroommc/groovyscript/compat/mods/techreborn/Centrifuge.java
  src/main/java/com/cleanroommc/groovyscript/compat/mods/techreborn/ChemicalReactor.java
  src/main/java/com/cleanroommc/groovyscript/compat/mods/techreborn/Compressor.java
  src/main/java/com/cleanroommc/groovyscript/compat/mods/techreborn/DieselGenerator.java
  src/main/java/com/cleanroommc/groovyscript/compat/mods/techreborn/DistillationTower.java
  src/main/java/com/cleanroommc/groovyscript/compat/mods/techreborn/Extractor.java
  src/main/java/com/cleanroommc/groovyscript/compat/mods/techreborn/FluidReplicator.java
  src/main/java/com/cleanroommc/groovyscript/compat/mods/techreborn/FusionReactor.java
  src/main/java/com/cleanroommc/groovyscript/compat/mods/techreborn/GasTurbine.java
  src/main/java/com/cleanroommc/groovyscript/compat/mods/techreborn/Grinder.java
  src/main/java/com/cleanroommc/groovyscript/compat/mods/techreborn/Helper.java
  src/main/java/com/cleanroommc/groovyscript/compat/mods/techreborn/ImplosionCompressor.java
  src/main/java/com/cleanroommc/groovyscript/compat/mods/techreborn/IndustrialElectrolyzer.java
  src/main/java/com/cleanroommc/groovyscript/compat/mods/techreborn/IndustrialGrinder.java
  src/main/java/com/cleanroommc/groovyscript/compat/mods/techreborn/IndustrialSawmill.java
  src/main/java/com/cleanroommc/groovyscript/compat/mods/techreborn/PlasmaGenerator.java
  src/main/java/com/cleanroommc/groovyscript/compat/mods/techreborn/PlateBendingMachine.java
  src/main/java/com/cleanroommc/groovyscript/compat/mods/techreborn/RollingMachine.java
  src/main/java/com/cleanroommc/groovyscript/compat/mods/techreborn/RollingMachineRecipeBuilder.java
  src/main/java/com/cleanroommc/groovyscript/compat/mods/techreborn/Scrapbox.java
  src/main/java/com/cleanroommc/groovyscript/compat/mods/techreborn/SemiFluidGenerator.java
  src/main/java/com/cleanroommc/groovyscript/compat/mods/techreborn/SolidCanningMachine.java
  src/main/java/com/cleanroommc/groovyscript/compat/mods/techreborn/TechReborn.java
  src/main/java/com/cleanroommc/groovyscript/compat/mods/techreborn/ThermalGenerator.java
  src/main/java/com/cleanroommc/groovyscript/compat/mods/techreborn/VacuumFreezer.java
  src/main/java/com/cleanroommc/groovyscript/compat/mods/techreborn/WireMill.java
  src/main/java/com/cleanroommc/groovyscript/core/LateMixin.java
  src/main/java/com/cleanroommc/groovyscript/core/mixin/techreborn/RollingMachineRecipeWrapperMixin.java
  src/main/java/com/cleanroommc/groovyscript/helper/recipe/AbstractRecipeBuilder.java
  src/main/resources/assets/groovyscript/lang/en_us.lang
  src/main/resources/mixin.groovyscript.techreborn.json
Labels: mod compat
