Repository CleanroomMC/GroovyScript, pull requests merged in 2025-03, with the labels that each got.

#278 add Arcane World compat
  dependencies.gradle
  examples/postInit/arcaneworld.groovy
  gradle.properties
  src/main/java/com/cleanroommc/groovyscript/compat/mods/ModSupport.java
  src/main/java/com/cleanroommc/groovyscript/compat/mods/arcaneworld/ArcaneWorld.java
  src/main/java/com/cleanroommc/groovyscript/compat/mods/arcaneworld/RitualWrapper.java
  src/main/resources/assets/groovyscript/lang/en_us.lang
Labels: mod compat

#284 add Blood Arsenal compat
  dependencies.gradle
  examples/postInit/bloodarsenal.groovy
  gradle.properties
  src/main/java/com/cleanroommc/groovyscript/compat/mods/ModSupport.java
  src/main/java/com/cleanroommc/groovyscript/compat/mods/bloodarsenal/BloodArsenal.java
  src/main/java/com/cleanroommc/groovyscript/compat/mods/bloodarsenal/SanguineInfusion.java
  src/main/resources/assets/groovyscript/lang/en_us.lang
Labels: mod compat

#282 add Additional Enchanted Miner compat
  dependencies.gradle
  examples/postInit/quarryplus.groovy
  gradle.properties
  src/main/java/com/cleanroommc/groovyscript/compat/mods/ModSupport.java
  src/main/java/com/cleanroommc/groovyscript/compat/mods/additionalenchantedminer/AdditionalEnchantedMiner.java
  src/main/java/com/cleanroommc/groovyscript/compat/mods/additionalenchantedminer/WorkBenchPlus.java
  src/main/resources/assets/groovyscript/lang/en_us.lang
Labels: mod compat

#271 add Better With Addons compat
  dependencies.gradle
  examples/postInit/betterwithaddons.groovy
  gradle.properties
  src/main/java/com/cleanroommc/groovyscript/compat/mods/ModSupport.java
  src/main/java/com/cleanroommc/groovyscript/compat/mods/actuallyadditions/Empowerer.java
  src/main/java/com/cleanroommc/groovyscript/compat/mods/betterwithaddons/BetterWithAddons.java
  src/main/java/com/cleanroommc/groovyscript/compat/mods/betterwithaddons/DryingBox.java
  src/main/java/com/cleanroommc/groovyscript/compat/mods/betterwithaddons/FireNet.java
  src/main/java/com/cleanroommc/groovyscript/compat/mods/betterwithaddons/Infuser.java
  src/main/java/com/cleanroommc/groovyscript/compat/mods/betterwithaddons/InfuserRecipeBuilder.java
  src/main/java/com/cleanroommc/groovyscript/compat/mods/betterwithaddons/LureTree.java
  src/main/java/com/cleanroommc/groovyscript/compat/mods/betterwithaddons/Packing.java
  src/main/java/com/cleanroommc/groovyscript/compat/mods/betterwithaddons/Rotting.java
  src/main/java/com/cleanroommc/groovyscript/compat/mods/betterwithaddons/SandNet.java
  src/main/java/com/cleanroommc/groovyscript/compat/mods/betterwithaddons/SoakingBox.java
  src/main/java/com/cleanroommc/groovyscript/compat/mods/betterwithaddons/Spindle.java
  src/main/java/com/cleanroommc/groovyscript/compat/mods/betterwithaddons/Tatara.java
  src/main/java/com/cleanroommc/groovyscript/compat/mods/betterwithaddons/Transmutation.java
  src/main/java/com/cleanroommc/groovyscript/compat/mods/betterwithaddons/WaterNet.java
  src/main/java/com/cleanroommc/groovyscript/compat/mods/betterwithmods/Cauldron.java
  src/main/java/com/cleanroommc/groovyscript/compat/mods/betterwithmods/Crucible.java
  src/main/java/com/cleanroommc/groovyscript/compat/mods/betterwithmods/HopperFilters.java
  src/main/java/com/cleanroommc/groovyscript/compat/mods/betterwithmods/Saw.java
  src/main/java/com/cleanroommc/groovyscript/compat/mods/betterwithmods/Turntable.java
  src/main/java/com/cleanroommc/groovyscript/compat/mods/bloodmagic/AlchemyArray.java
  src/main/java/com/cleanroommc/groovyscript/compat/mods/enderio/SliceNSplice.java
  src/main/java/com/cleanroommc/groovyscript/compat/mods/enderio/Vat.java
  src/main/java/com/cleanroommc/groovyscript/compat/mods/forestry/Carpenter.java
  src/main/java/com/cleanroommc/groovyscript/compat/mods/forestry/ThermionicFabricator.java
  src/main/java/com/cleanroommc/groovyscript/compat/mods/thaumcraft/Crucible.java
  src/main/java/com/cleanroommc/groovyscript/compat/mods/thaumcraft/InfusionCrafting.java
  src/main/java/com/cleanroommc/groovyscript/core/LateMixin.java
  src/main/java/com/cleanroommc/groovyscript/core/mixin/betterwithaddons/BWAJEIPluginMixin.java
  src/main/java/com/cleanroommc/groovyscript/core/mixin/betterwithaddons/RotHandlerAccessor.java
  src/main/java/com/cleanroommc/groovyscript/core/mixin/betterwithaddons/RotInfoAccessor.java
  src/main/java/com/cleanroommc/groovyscript/core/mixin/betterwithaddons/TileEntityLureTreeAccessor.java
  src/main/java/com/cleanroommc/groovyscript/helper/ingredient/IngredientHelper.java
  src/main/java/com/cleanroommc/groovyscript/helper/recipe/AbstractRecipeBuilder.java
  src/main/resources/assets/groovyscript/lang/en_us.lang
  src/main/resources/mixin.groovyscript.betterwithaddons.json
Labels: mod compat

#280 Mapper backend refactor and texture deco improvements
  src/main/java/com/cleanroommc/groovyscript/GroovyScript.java
  src/main/java/com/cleanroommc/groovyscript/compat/mods/betterwithaddons/BetterWithAddons.java
  src/main/java/com/cleanroommc/groovyscript/compat/mods/betterwithaddons/DryingBox.java
  src/main/java/com/cleanroommc/groovyscript/compat/mods/betterwithaddons/FireNet.java
  src/main/java/com/cleanroommc/groovyscript/compat/mods/betterwithaddons/Packing.java
  src/main/java/com/cleanroommc/groovyscript/compat/mods/betterwithaddons/SandNet.java
  src/main/java/com/cleanroommc/groovyscript/compat/mods/betterwithaddons/SoakingBox.java
  src/main/java/com/cleanroommc/groovyscript/compat/mods/betterwithaddons/Spindle.java
  src/main/java/com/cleanroommc/groovyscript/compat/mods/betterwithaddons/Tatara.java
  src/main/java/com/cleanroommc/groovyscript/compat/mods/betterwithaddons/Transmutation.java
  src/main/java/com/cleanroommc/groovyscript/compat/mods/betterwithaddons/WaterNet.java
  src/main/java/com/cleanroommc/groovyscript/mapper/AbstractObjectMapper.java
  src/main/java/com/cleanroommc/groovyscript/mapper/BlockStateMapper.java
  src/main/java/com/cleanroommc/groovyscript/mapper/ItemStackMapper.java
  src/main/java/com/cleanroommc/groovyscript/mapper/ObjectMapper.java
  src/main/java/com/cleanroommc/groovyscript/mapper/ObjectMapperManager.java
  src/main/java/com/cleanroommc/groovyscript/mapper/ObjectMapperMetaMethod.java
  src/main/java/com/cleanroommc/groovyscript/mapper/TextureBinder.java
  src/main/java/com/cleanroommc/groovyscript/mapper/TextureTooltip.java
  src/main/java/com/cleanroommc/groovyscript/mapper/TooltipEmbedding.java
  src/main/java/com/cleanroommc/groovyscript/sandbox/transformer/GroovyScriptTransformer.java
  src/main/java/com/cleanroommc/groovyscript/server/CompletionParams.java
  src/main/java/com/cleanroommc/groovyscript/server/Completions.java
  src/main/java/com/cleanroommc/groovyscript/server/features/textureDecoration/TextureDecoration.java
  src/main/java/com/cleanroommc/groovyscript/server/features/textureDecoration/TextureDecorationProvider.java
  src/main/java/net/prominic/groovyls/compiler/util/GroovyASTUtils.java
  src/main/java/net/prominic/groovyls/providers/CompletionProvider.java
Labels: bug, refactor, lang-server

#290 Fix HEI config breaking JEI compat
  src/main/java/com/cleanroommc/groovyscript/core/mixin/jei/JeiStarterMixin.java
Labels: bug

#291 Minor fixes for documentation
  examples/postInit/botania_tweaks.groovy
  examples/postInit/quarryplus.groovy
  src/main/java/com/cleanroommc/groovyscript/compat/mods/additionalenchantedminer/AdditionalEnchantedMiner.java
  src/main/java/com/cleanroommc/groovyscript/compat/mods/additionalenchantedminer/WorkbenchPlus.java
  src/main/java/com/cleanroommc/groovyscript/documentation/Registry.java
  src/main/resources/assets/groovyscript/lang/en_us.lang
Labels: documentation, enhancement

#293 Fix GroovyScript crashing on servers
  src/main/java/com/cleanroommc/groovyscript/GroovyScript.java
  src/main/java/com/cleanroommc/groovyscript/IncompatibleJavaException.java
  src/main/java/com/cleanroommc/groovyscript/JavaVersionCheck.java
  src/main/java/com/cleanroommc/groovyscript/mapper/TextureBinder.java
Labels: bug
